<a href="https://colab.research.google.com/github/yogesh-bhattarai/GEN_AI/blob/main/traineer_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
df= pd.read_csv(r"/content/TrainerRecommendation.csv")
(df.head())

,trainer_id,name,age,gender,height_cm,weight_kg,specialization,experience_years,location,rating,total_reviews
0,1,Fred Rodriguez,43,Female,181,90,Cardio,1,Chicago,1.3,1511
1,2,David Herring,51,Other,165,56,CrossFit,7,New York,1.6,160
2,3,Johnny Miles,43,Female,179,97,Weight Loss,25,Chicago,1.6,1743
3,4,Donna Weber,42,Female,175,113,CrossFit,24,Chicago,3.0,1448
4,5,Ronald Evans,49,Female,169,63,Muscle Gain,27,San Jose,1.8,1080

In [4]:
df.head(10)

,trainer_id,name,age,gender,height_cm,weight_kg,specialization,experience_years,location,rating,total_reviews
0,1,Fred Rodriguez,43,Female,181,90,Cardio,1,Chicago,1.3,1511
1,2,David Herring,51,Other,165,56,CrossFit,7,New York,1.6,160
2,3,Johnny Miles,43,Female,179,97,Weight Loss,25,Chicago,1.6,1743
3,4,Donna Weber,42,Female,175,113,CrossFit,24,Chicago,3.0,1448
4,5,Ronald Evans,49,Female,169,63,Muscle Gain,27,San Jose,1.8,1080
5,6,Heather Smith,44,Other,192,88,Muscle Gain,11,Phoenix,3.7,1128
6,7,Adam Guerra,55,Other,191,96,Muscle Gain,29,Seattle,4.9,78
7,8,Elizabeth Carter,28,Female,197,86,CrossFit,8,Dallas,2.8,1991
8,9,Catherine Castaneda,55,Female,185,116,Weight Loss,35,San Diego,1.5,1175
9,10,Russell Ibarra,53,Female,156,92,Zumba,34,Seattle,4.9,760

In [5]:
df['specialization'].value_counts()

specialization
Zumba                1975
Weight Loss          1900
Yoga                 1898
Strength Training    1889
Cardio               1877
CrossFit             1823
Muscle Gain          1820
Pilates              1818
Name: count, dtype: int64

In [6]:
df.shape

(15000, 11)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   trainer_id        15000 non-null  int64
 1   name              15000 non-null  object
 2   age               15000 non-null  int64
 3   gender            15000 non-null  object
 4   height_cm         15000 non-null  int64
 5   weight_kg         15000 non-null  int64
 6   specialization    15000 non-null  object
 7   experience_years  15000 non-null  int64
 8   location          15000 non-null  object
 9   rating            15000 non-null  float64
 10  total_reviews     15000 non-null  int64
dtypes: float64(1), int64(6), object(4)
memory usage: 1.3+ MB

In [9]:
df.isnull().sum()

trainer_id          0
name                0
age                 0
gender              0
height_cm           0
weight_kg           0
specialization      0
experience_years    0
location            0
rating              0
total_reviews       0
dtype: int64

In [10]:
df['rating'].value_counts()

rating
1.7    429
3.8    412
1.5    412
2.2    403
3.9    401
2.3    399
2.9    399
2.0    396
4.6    394
1.2    392
3.2    389
1.9    387
2.7    387
3.3    383
4.8    377
4.1    375
4.2    374
4.4    374
2.8    370
4.7    369
1.4    368
4.9    367
1.3    366
3.6    366
1.8    364
2.6    363
2.5    359
3.5    359
1.6    359
4.3    356
3.1    356
3.0    355
4.5    355
2.1    354
2.4    352
4.0    352
3.7    348
1.1    345
3.4    340
5.0    211
1.0    183
Name: count, dtype: int64

In [12]:
def rate_bucket(rating):
  if rating>= 4.5:
    return "high"
  elif rating>= 3.0:
    return "medium"
  else:
    return "low"

In [13]:
df['rating']= df['rating'].apply(rate_bucket)